.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height:10hv;
  background: grey;
  color: white;
}

.nav-links{
 width:40%;
 display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.intro {
  font-size: 1em;
  margin-bottom:200px;
}
.imagec {
  height:350px;
  margin-top:50px;
  margin-bottom:50px;
}